.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #131324;
  min-height: 100%;
}
.register-page .brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.register-page .brand img {
  height: 5rem;
}
.register-page .brand h1 {
  color: white;
  text-transform: uppercase;
}
.register-page form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #00000076;
  border-radius: 2rem;
  padding: 3rem 5rem;
}
.register-page input {
  background-color: transparent;
  padding: 1rem;
  border: 0.1rem solid #4e0eff;
  border-radius: 0.4rem;
  color: white;
  width: 100%;
  font-size: 1rem;
}
.register-page input:focus {
  border: 0.1rem solid #997af0;
  outline: none;
}
.register-page button {
  background-color: #4e0eff;
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
}
.register-page button:hover {
  background-color: #4e0eff;
  transform: scale(1.05);
}
.register-page span {
  color: white;
  text-transform: uppercase;
}

.register-page span a {
  color: #4e0eff;
  text-decoration: none;
  font-weight: bold;
}
