@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body,
button,
input {
  font-family: "Josefin Sans", sans-serif;
}

body {
  min-height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #e3e9f0;
}

.Toastify__toast-theme--dark {
  background-color: rgba(0, 0, 0, 0.45) !important;
}